<%# Iterating over the movies collection and displaying each movie %>
<% @movies.each do |movie| %>
  <section class="movie">
    <div class="summary">
      <%# List the movie title, total gross, and a truncated description %>
      <h2>
        <%# Title of the movie with a link to the movie's details page %>
        <%= link_to movie.title, movie %>
      </h2>
      <h3>
        <%= total_gross(movie) %>
      </h3>
      <p>
        <%= truncate(movie.description, length: 150, separator: ' ') %>
      </p>
    </div>
  </section>
<% end %>

<%# Button for adding a new movie %>
<section class="admin">
  <%= link_to "Add New Movie", new_movie_path, class: "button" %>
</section>